/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #618d61;
  color: rgb(61, 57, 57);
  padding: 10px;
}
.logo h1 {
  font-size: 4rem; /* Increase the size of the title */
  text-align: center;
  margin: 0;
}

.logo {
  display: flex;
  justify-content: center; /* Centers the title horizontally */
  align-items: center;
  margin-bottom: 20px; /* Adds space between title and navigation */
}

.nav-links {
  display: flex;
  justify-content: center; /* Center the navigation links */
  list-style: none;
  margin-top: 10px;
}

.nav-links li {
  margin: 0 15px; /* Adjust spacing between links */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem; /* Slightly increase link font size */
}

#hero {
  background-image: url('css/pear.png');
  background-size: cover;
  color: white;
  text-align: center;
  padding: 150px 20px;
}

.hero-content {
  margin-top: 50px;
}

.cover-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.cta-button {
  background-color: #FFA500;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  display: inline-block;
}
#about-new {
  background-color: #f4f4f4;
  padding: 50px 20px;
  text-align: center;
  margin-bottom: 30px; /* Space between this section and the next */
}

#about-new h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#about-new p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

#features {
  padding: 50px 20px;
  text-align: center;
}

.feature-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.feature {
  width: 80%; /* Adjust width as needed */
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature img {
  max-width: 100%;
  border-radius: 10px;
}


#video {
  padding: 50px 20px;
  text-align: center;
}

video {
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
}

#about-developer {
  padding: 50px 0;
  background-color: #f8f9fa; /* Optional background color */
}

.developer-profile {
  display: inline-block;
  text-align: center;
}

.developer-profile img {
  border-radius: 50%; /* Make the image round */
  margin-bottom: 20px;
}

.social-links a {
  text-decoration: none;
  color: #28a745; /* Green color for links */
  margin: 0 10px;
}

.social-links a:hover {
  color: #155724; /* Darker green on hover */
}



#cta {
  background-color: #4CAF50;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
